/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Body */
body {
    background-color: rgba(22, 22, 22, 1);
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url(Img/logo\ 2.png);
    background-repeat: no-repeat;
    background-position-x:100%;
    background-position-y: 8%;
    background-size: 30%;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: rgba(22, 22, 22, 1);;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    border-bottom: 1px solid rgba(98, 105, 116, 1);
    padding-bottom: 10px;
}

.name {
    font-family:Bai Jamjuree;
    width: 700;
    size:42px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #ffffff;
}

.logo {
    width: 65px;
    height: 38px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #58a6ff;
}

/* Section Principal */
.SP {
    text-align: center;
    padding: 120px 20px 50px;
}

.SP h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #ffffff;
}

.SP p {
    max-width: 600px;
    margin: 10px auto;
    font-size: 1rem;
    color: #c9d1d9;
    font-size: 120%;
}

/* Section Sobre Mim */

.grades {
    background-color: #102030;
    width: 70%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
}

.grades h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
}
.grades p {
    max-width: 600px;
    margin: 10px auto;
    font-size: 1rem;
    color: #ffffff;
}

.grades-content {
    padding: 10px;
    border-radius: 8px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    width: 280px;
    color:#000000;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: grid;
    display: grid;
  
}

.card p {
    margin-top: 10px;
    font-size: 0.9rem;
    color: #000000;
}

.barsobremim {
    color:rgba(85, 255, 245, 1);
    background-color: rgba(255, 255, 255, 1);
    scrollbar-width: 126.74607849121094px;
    height: 6px;
}

/* Skills */
.skills {
    text-align: center;
    padding: 58px 30x;
}

.skills h2 {
    font-size: 1.8rem;
    margin-bottom: 30px;
}

.icons {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

.icons img {
    transition: transform 0.3s ease-in-out;
    width: 70px;
}

.icons img:hover {
    transform: scale(1.1);
}

.bar {
    background-color: #5A606A;
    border-radius: 5px;
    height: 10px;
    }
    
.Figma{
        height: 10px;
        border-radius: 5px;
        margin-top: 9px;
        background-color: rgba(162, 89, 255, 1);    
}
    
.JS {
        height: 10px;
        border-radius: 5px;
        margin-top: 9px;
        background-color: #F7DF1E;
}
    
.TS {
        height: 10px;
        border-radius: 5px;
        margin-top: 9px;
        background-color: rgba(49, 120, 198, 1);
}
    
.html5 {
        height: 10px;
        border-radius: 5px;
        margin-top: 1px;
        background-color:#E44D26 ;
}
    
.css3 {
        height: 10px;
        border-radius: 5px;
        margin-top: 1px;
        background-color: #29ABE2;
}

.React {
        height: 10px;
        border-radius: 5px;
        margin-top: 16px;
        background-color: rgba(0, 216, 255, 1);
}

.mysql {
        height: 10px;
        border-radius: 5px;
        margin-top: 10px;
        background-color: rgba(0, 84, 107, 1);
}

.node {
        height: 10px;
        border-radius: 5px;
        margin-top: 9px;
        background-color: rgba(83, 158, 67, 1);
}

/* Projetos */
.projects {
    text-align: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}

.grid {
    width: 100%;
    max-width: 800px;
    display: grid;
    justify-content: center;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.project-card {
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    background-color: rgba(45, 130, 183, 0.2);
    box-shadow: 0 0 10px rgba(25, 28, 29, 0.2);
    background-image: url(Img/Robot.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position-x: right;
}

.project-card p {
    margin-top: 10px;
}


.project-card:hover {
    transform: scale(1.05);
}

.acesseaqui {
    color: #ffffff;
}

/* Contato */
.footer {
    text-align: center;
    padding: 40px 0;
    width: 100%;
    height: 350px;
    background-color: rgba(45, 130, 183, 0.2);
    background-image: url(Img/logo\ \(1\).png);
    background-repeat: no-repeat;
    background-position-y: 100%;
    background-size: 19%;
    
}

.footer h2 {
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 25px;
    font-size: 20px;
}

.container {
    display: flex;
    gap: 80px;
    justify-content: center;
}

.left, .right {
    display: flex;
    gap: 10px;
    text-align: right;
    flex-direction: column;
}

.footericon {
    background-position-x: 2%;
}

.link {
    text-decoration: none;
    color: #ffffff;
    display: flex;
}

.right a {
    gap: 10px;
    text-align: right;
}

p {
    display: flex;
    gap: 10px;
    font-size: 16px;
    align-items: center;
}

img {
    width: 24px;
}

footer a houver {
    text-decoration: underline;
}


